@font-face{
    src: url(fonts/Poppins-ExtraLight.ttf);
    font-family: Pp;
}
body{
    background-color: hsl(0, 0%, 0%);
}
h1{
    color: white;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    border: 2px solid yellow;
    border-radius: 1em;
    text-shadow: 3px 3px 4px cyan;
    
}
p{
    color: white;
    font-family: Pp;
    font-style: italic;
}
#p2{
    color: rgb(236, 236, 38);
}
.odd{
    color: #eb3333;
}
#p4{
    border-bottom: 2px dotted cyan;
}
.box{
    text-align: center;
    font-family: Pp;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 100px;
    background-color: white;
}
#b1{
    
    box-shadow: 5px 5px 2px white;
}
#b2{
    background-color: red;
    margin: 50px;

}
#b3{
    background-color: rgb(26, 45, 187);
    margin: auto;
}