body{
    background-color: black;
}
.heading{
    color: white;
    text-align: center;
    display: block;
    text-decoration: underline;
}
.lyrics{
    color: aqua;
}
.song{
    background-color: white;
    border-radius: 20px;
}
.button{
    border-radius: 20px;
    background-color: aqua;
    
}